
<li>

    <article>
        <img src="{{flag}}" alt="pictures" width="480">
        <h2>{{name}}</h2>
        <p>Capital:{{capital}}</p>
        <p>Population: {{population}}</p>
        <ul>Language:
             {{#each languages}}
        <li class="tag-list__item">{{this}}</li>      
        {{/each}}
            </ul>
    </article>

</li>

