{{#each this}}
<h2 class="container__title">{{name}}</h2>
<div class="box">
  <div class="box-text">
    <p class="box-text__capital"><span>Capital: </span>{{capital}}</p>
    <p class="box-text__population"><span>Population: </span>{{population}}</p>
    <p class="box-text__langueges">Languages:</p>
    <ul class="box-list">
      {{#each languages}}
      <li class="box-list__item">{{name}}</li>
      {{/each}}
    </ul>
  </div>
  <div class="box-img">
    <img src="{{flag}}" class="box-img__image">
  </div>
</div>
{{/each}}